@using System.Diagnostics.Eventing.Reader
@using Dinero.Tools.Difference.Core.Models
@model Dinero.Tools.Difference.Web.ViewModels.ShowDifferencesViewModel

@{
    ViewBag.Title = "Dinero Tools - Resultat";
}

@helper GetDifferenceRowClass(DifferenceEntryStates state)
{
if (state == DifferenceEntryStates.Unbalanced)
{
        @("unbalanced")
}
else if (state == DifferenceEntryStates.SelfCancelling)
{
        @("selfcancelling")
}
else if (state == DifferenceEntryStates.Future)
{
        @("future")
}
else
{
        @("")
}
}



<div class="container" role="main">

    <div class="row">
        <div class="col-md-6">
            <h1>Vi fandt følgende...</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Dinero.dk</h2>

            <p>Saldo: @Model.LatestDineroEntry.Saldo.ToString("C")</p>
            <small>(Pr. @Model.LatestDineroEntry.Date.ToShortDateString())</small>
        </div>

        <div class="col-md-6">
            <h2>Bank</h2>

            <p>Saldo: @Model.LatestBankEntry.Saldo.ToString("C")</p>
            <small>(Pr. @Model.LatestBankEntry.Date.ToShortDateString())</small>
        </div>
    </div>

    <hr />  

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Fundet difference <br />
                @Model.TotalDifference.ToString("C")
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr class="info">
                        <th colspan="3">Dinero posteringer</th>
                        <th colspan="4">Bank posteringer</th>
                    </tr>
                    <tr class="info">
                        <th class="col-md-1">Dato</th>
                        <th class="col-md-3">Tekst</th>
                        <th class="col-md-2">Beløb</th>
                        <th class="col-md-1">Dato</th>
                        <th class="col-md-3">Tekst</th>
                        <th class="col-md-2">Beløb</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var diffEntry in @Model.Differences.OrderByDescending(x => x.RelevantDate))
                    {
                        <tr class="@GetDifferenceRowClass(diffEntry.State)">
                            <td>@(diffEntry.DineroEntry?.Date.ToShortDateString())</td>
                            <td>@(diffEntry.DineroEntry?.Text)</td>
                            <td class="text-right">@(diffEntry.DineroEntry?.Amount.ToString("C"))</td>
                            <td>@(diffEntry.BankEntry?.Date.ToShortDateString())</td>
                            <td>@(diffEntry.BankEntry?.Text)</td>
                            <td class="text-right">@(diffEntry.BankEntry?.Amount.ToString("C"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>