@using Dinero.Tools.Difference.Core.Models
@model Dinero.Tools.Difference.Web.ViewModels.ShowDifferencesViewModel

@{
//ViewBag.Title = "title";
}

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Se hvad vi fandt...</h1>

        <p>Bank Saldo: @Model.DifferenceResult.TotalBank.ToString("C")</p>
        <p>Dinero Saldo: @Model.DifferenceResult.TotalDinero.ToString("C")</p>
        <p>Difference: @Model.DifferenceResult.TotalDifference.ToString("C")</p>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2 bg-info">Dato (Dinero)</th>
                        <th class="col-md-2 bg-info">Tekst (Dinero)</th>
                        <th class="col-md-2 bg-info">Beløb (Dinero)</th>
                        <th class="col-md-1 bg-warning">Dato (bank)</th>
                        <th class="col-md-2 bg-warning">Tekst (bank)</th>
                        <th class="col-md-2 bg-warning">Beløb (bank)</th>
                        <th class="col-md-1">Afstemt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var diffEntry in @Model.DifferenceResult.DifferenceEntryModels.OrderByDescending(x => x.DineroEntry.Date))
                    {
                        <tr class="@(diffEntry.Status == EntryStatus.Balanced ? "success" : "danger" )">
                            <td>@diffEntry.DineroEntry.Date.ToString("dd-MM-yyyy")</td>
                            <td>@diffEntry.DineroEntry.Text</td>
                            <td>@diffEntry.DineroEntry.Amount.ToString("C")</td>
                            <td>@(diffEntry.BankEntry?.Date.ToString("dd-MM-yyyy"))</td>
                            <td>@(diffEntry.BankEntry?.Text)</td>
                            <td>@(diffEntry.BankEntry?.Amount.ToString("C"))</td>
                            <td>
                                @if (diffEntry.Status == EntryStatus.Balanced)
                                {
                                    <span class="label label-success">Ja</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Nej</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>