@using Dinero.Tools.Difference.Core.Models
@model Dinero.Tools.Difference.Web.ViewModels.ShowDifferencesViewModel

@{
//ViewBag.Title = "title";
}

<div class="container" role="main">

    <div class="row">
        <div class="col-lg-12">
            <h1>Se hvad vi fandt...</h1>

            <p>Bank Saldo: @Model.DifferenceResult.TotalBank.ToString("C")</p>
            <p>Dinero Saldo: @Model.DifferenceResult.TotalDinero.ToString("C")</p>
            <p>Difference: @Model.DifferenceResult.TotalDifference.ToString("C")</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr class="info">
                        <th colspan="3">Dinero posteringer</th>
                        <th colspan="4">Bank posteringer</th>
                    </tr>
                    <tr class="info">
                        <th class="col-md-1">Dato</th>
                        <th class="col-md-3">Tekst</th>
                        <th class="col-md-2">Beløb</th>
                        <th class="col-md-1">Dato</th>
                        <th class="col-md-3">Tekst</th>
                        <th class="col-md-2">Beløb</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var diffEntry in @Model.DifferenceResult.DifferenceEntryModels.OrderByDescending(x => x.Date))
                    {
                        <tr class="@(diffEntry.State == DifferenceEntryStates.Balanced ? "" : "danger" )">
                            <td>@(diffEntry.DineroEntry?.Date.ToString("dd-MM-yyyy"))</td>
                            <td>@(diffEntry.DineroEntry?.Text)</td>
                            <td class="text-right">@(diffEntry.DineroEntry?.Amount.ToString("C"))</td>
                            <td>@(diffEntry.BankEntry?.Date.ToString("dd-MM-yyyy"))</td>
                            <td>@(diffEntry.BankEntry?.Text)</td>
                            <td class="text-right">@(diffEntry.BankEntry?.Amount.ToString("C"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>