@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Ups, noget gik galt... ";
}


<div class="container" role="main">

    <div class="row">
        <div class="col-md-12">
            <h1 class="error">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <div>
                    <p >
                        Fordi dette værktøj stadigvæk er i <strong>beta</strong>, ses her under lidt mere tekniske informationer om fejlen.
                        <br />
                        Disse skal du blot se bort fra, med mindre du har tænkt dig at fixe fejlen ;)
                    </p>
                </div>

                <hr/>

                <p class="small">
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>

                <div>
                    <div class="well">
                        <pre class="error">
                            @Model.Exception.StackTrace
                        </pre>
                    </div>
                </div>
            }
        </div>
    </div>
</div>